<form>
    <div class="form-group mt-2">
      <label for="name">Name</label>
      <input type="text" 
      class="form-control" 
      id="name"
      #name
      aria-describedby="name" 
      placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text"
      #last_name 
      class="form-control" id="exampleInputPassword1" placeholder="Last Name">
    </div>
    <div class="form-group">
        <label for="lastname">Birthday</label>
        <dp-date-picker 
        #selectedDate
        format="YYYY-MM-DD" 
        ></dp-date-picker>
    </div>
    <!-- [config]="datePickerConfig" -->
    <button type="submit" (click)="uploadEmployee(name.value,last_name.value,selectedDate.value)" class="btn btn-primary">Submit</button>
  </form>